/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, black, purple 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  opacity: 0%;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(red, purple);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  position: relative;
  color: white;
}

form.new-task {
  background: black;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-left: 10px;
  font-size: 1em;
  background: linear-gradient(red, purple);
  color: white;
}

.new-task input:focus {
  outline: 0;
}
.new-list input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-left: 10px;
  font-size: 1em;
  background: linear-gradient(purple, red);
  color: white;
}

.new-list input:focus {
  outline: 0;
}

ul {
  position: relative;
  list-style: none;
  margin-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  background: linear-gradient(red, purple);
}
ul.private {
  position: relative;
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  background: linear-gradient(purple, red);
}
ul.setting {
  position: relative;
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  background: linear-gradient(purple, red);
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
/* public background */
li {
  position: relative;
  list-style: none;
  margin-top: 5px;
  padding: 15px;
  background: linear-gradient(red, purple);
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: darkgrey;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: linear-gradient(purple, red);
  border-color: #000;
}

header .hide-completed {
  float: right;
  background: linear-gradient(purple, red);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

button.hideForm {
  float: right;
  margin-right: 5%;
  border: none;
  background: linear-gradient(purple, red);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}
button.toggleMenu {
  float: right;
  margin-right: 5%;
  border: none;
  background: linear-gradient(purple, red);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.toggle-private {
  margin-left: 5px;
  border: none;
  background: linear-gradient(black, purple);
  color: white;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}
